<h3 class="mt-5">Вход в личный кабинет</h3>

<div class="d-flex justify-content-center mt-3 registration-div">
  <form method="POST" action="/login">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">E-mail</label>
    <input type="email" name="email" class="form-control registration-input" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control registration-input" id="exampleInputPassword1">
  </div>
   <div class="d-flex justify-content-center mt-2">
    <button type="submit" class="btn btn-outline-success mt-3">Войти</button>
   </div>
  
  </form>
</div>

